html {
  height: 100%;
}

body {
  background-image: url('http://i.imgsafe.org/67ab31b.jpg');
  background-size: cover !important;
  background-repeat: no-repeat;
}

.play {
  display: block;
  font-family: arial;
  text-align: center;
  margin: 0 auto;
  margin-top: 30%;
  height: 70px;
  width: 140px;
  border-radius: 30%;
}

#playLink {
  text-decoration: none;
  color: black;
  font-size: 40px;
}

#krishnadiv {
  background: url('../krishna.png');
  background-size: cover !important;
  background-repeat: no-repeat;
  display: inline-block;
  width: 200px;
  height: 200px;
}

#pigdiv {
  background: url('../Pig.png');
  display: inline-block;
  width: 200px;
  height:200px;

}