html {
  height: 100%;
}

body {
  background-image: url('http://i.imgsafe.org/67ab31b.jpg');
  background-size: cover !important;
  background-repeat: no-repeat;
}

.play {
  display: block;
  font-family: arial;
  text-align: center;
  margin: 0 auto;
  margin-top: 30%;
  height: 70px;
  width: 140px;
  border-radius: 30%;
}

#playLink {
  text-decoration: none;
  color: black;
  font-size: 40px;
}

#krishnadiv {
  background: url('../krishna.png');
  background-size: cover !important;
  background-repeat: no-repeat;
  display: none;
  width: 200px;
  height: 200px;
}

#Pigdiv {
  background: url('../Pig.png');
  position: absolute;
  display: none;
  width: 310px;
  height:200px;
  left:20%;
  top:2% 
}

#krishnadiv {
  position: absolute;
  left:0%;
  top:70%;
  width:200px;
  height:200px;
  transition-property: all;
    transition-duration: 8s;
    transition-timing-function: linear;
}

#mvkdiv {
  background: url('../mvk.png');
  position: absolute;
  display: none;
  width:200px;
  height:200px;
  top:50%;
  left:85%;
}

#up {
  position: absolute;
  width:50px;
  height:50px;
  bottom: 10%;
  left: 10%; 
}

#down {
  position: absolute;
  width:50px;
  height:50px;
  bottom: 5%;
  left: 10%; 
}

#right {
  position: absolute;
  width:50px;
  height:50px;
  bottom: 10%;
  left: 15%; 
}

#left {
  position: absolute;
  width:50px;
  height:50px;
  bottom: 10%;
  left: 5%; 
}